/* src/components/FundProject/FundProject.css */
.fund-project-container {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 10px;
}

.fund-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.fund-button {
  background-color: #FFA500;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 0;
  cursor: pointer;
}

.fund-button:hover {
  background-color: #FF8C00;
}

.error {
  color: red;
  margin-top: 5px;
}
